a {
    text-decoration: white;
    color: white;
}

.swal2-modal .swal2-title {
    font-size: 25px;
    line-height: 1;
    font-weight: 500;
    color: #000000;
    font-weight: initial;
    margin-bottom: 0;
}



.table thead th,
.jsgrid .jsgrid-table thead th {
    border-top: 0;
    border-bottom-width: 1px;
    font-weight: 500;
    color: #ffffff;
}